body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: black;
  font-size: 125%;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px; }

#logoimg {
  float: left;
  margin-right: 10px;
  border-top-left-radius: 12px;
  max-width: 100%; }

header {
  background-image: url("../images/art_bg.jpg");
  background-size: 100% auto;
  background-position: center;
  border-radius: 12px; }

#shopMain {
  margin-top: 15px; }

.divWide {
  max-width: 200px;
  margin: auto; }

#homeArticle {
  margin-top: 15px;
  padding: 20px; }

main img {
  max-width: 100%; }

.divCenter {
  margin: auto;
  width: auto; }

h4 {
  padding-top: 25px; }

.divCart {
  background-color: yellowgreen;
  margin: auto;
  margin-top: 15px;
  width: 625px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 18px;
  border-radius: 12px; }

.divCart a {
  color: black;
  text-decoration: none; }

#checkout #loggedIn {
  margin: auto;
  margin-top: 15px;
  background-color: yellowgreen;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  border-radius: 12px; }

#checkout form {
  padding-bottom: 16px; }

#checkoutFirstName {
  padding-top: 12px; }

.divCheckout {
  background-color: floralwhite;
  border-radius: 9px; }

.cartButton {
  width: 80px; }

.cartProduct {
  background-color: floralwhite;
  display: inline; }

h5 {
  display: inline; }

.divFloatRight {
  float: right;
  display: inline-block; }

.list-group-item:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px; }

.list-group-item:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; }

.myHidden {
  display: none; }

article {
  background-color: #e2b7ff;
  border-radius: 12px; }

#filters {
  border-radius: 9px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px; }

#filters h2 {
  background-color: violet;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  text-align: center;
  margin-bottom: 0px; }

#filterinside {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #e2b7ff; }

.item img {
  float: left;
  margin-right: 10px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 100%; }

.item h2 {
  background-color: violet;
  border-top-left-radius: 12px; }

.item {
  margin-bottom: 55px;
  border-radius: 12px;
  background-color: aquamarine; }

.item img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; }

.itemmain {
  border-top-left-radius: 12px;
  padding-left: 0px;
  padding-right: 0px; }

.itemCorner {
  float: right;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  padding-left: 0px;
  padding-right: 0px; }

.price {
  height: 50%;
  width: 100%;
  float: right;
  border-top-right-radius: 12px;
  background-color: yellow; }

.buy {
  height: 50%;
  width: 100%;
  float: right;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #0069d9; }

.item a {
  color: black;
  text-decoration: none; }

.textCentre {
  text-align: center; }

h1 {
  margin: 0;
  font-family: inherit;
  font-size: 500%;
  margin-bottom: 0;
  padding-top: 25px; }

nav {
  padding-top: 5px;
  padding-bottom: 2px;
  clear: left; }

main {
  padding-top: 8px;
  padding-bottom: 24px;
  border-left: 40px solid;
  border-right: 40px solid;
  border-image: url(../images/peel9cw.png) 40 round;
  padding-left: 26px;
  padding-right: 26px; }

#myarticle {
  width: 400px;
  float: right;
  margin-bottom: 30px;
  margin-top: 12px;
  display: inline-block; }

footer {
  padding-top: 8px;
  padding-bottom: 8px;
  color: floralwhite;
  clear: right;
  background-image: url("../images/art_bg.jpg");
  background-size: 100% auto;
  background-position: center;
  text-align: right;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }

#footerText {
  /*background-color: rgba(222,222,222,0.3);*/
  background-color: rgba(22, 22, 22, 0.6);
  /*background-image: linear-gradient(to top, rgba(55,100,100,0.5), rgba(55,100,100,0));*/
  margin-right: 25px; }

.noDisplay {
  display: none; }

.hideOnStart {
  display: none; }
